{%extends "base.html" %}
{%load static %}

{%block title%}All Posts{%endblock%}

{%block css_files %} 
<link rel="stylesheet" href= "{% static "post.css" %}">
<link rel="stylesheet" href= "{% static "index.css" %}">
<link rel="stylesheet" href="{% static "all-post.css" %}">
{%endblock%}


{%block content %}

<section id="all-posts">
    <h2>My Collections</h2>
    <ul>
        {%for i in all_posts %}
        {% include "include/post.html" %}
        {% endfor %}
    </ul>
</section>

{%endblock%}